/* Navigation component: .site-nav and its links
   Style the active link using aria-current. */

/* TODO: Style the navigation */
nav {
      display: flex;
      flex-direction: row;
      padding: var(--spacing-md);
      background-color: var(--color-primary);

      ul {
         display: flex;
         flex-direction: row;
         list-style-type: none;

         li {
            padding-left: var(--spacing-md);

            
         }
      }
   }